<table border="0">
  <tr>
    <td width="75"><%= image_tag("componentAddXL.png", :alt => "add component") %></td>
    <td><h4><strong><%= t('new_component') %></strong></h4></td>
  </tr>
</table><br />

<%= render 'form' %>