<p>
  <strong>Title:</strong>
  <%= @component.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @component.category %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>