<p>
  <strong>Name:</strong>
  <%= @component.title %>
</p>

<p>
  <strong>Kategorie:</strong>
  <%= @component.category.title %>
</p>

<%= link_to t('edit'), edit_component_path(@component) %> |
<%= link_to t('back'), components_path %>