<table border="0">
  <tr>
    <td width="75"><%= image_tag("attributeAddXL.png", :alt => "add room") %></td>
    <td><h4><strong><%= t('new_attribute') %></strong></h4></td>
  </tr>
</table><br />

<%= render 'form' %>
