<table border="0">
  <tr>
    <td width="75"><%= image_tag("supplierEditXL.png", :alt => "edit supplier") %></td>
    <td><h4><strong><%= t('edit_supplier') %></strong></h4></td>
  </tr>
</table><br />

<%= render 'form' %>
