<%= form_tag(index_path, :method => "get", id: "search-form") do %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a onclick="display_search();" href="#" id="display_search"><img src="images/plusM.png" id="search-display-icon"><strong> Suche </strong></a>
      </div>
      <div class="panel-body form-inline" id="search-container" style="display: none;">
        <div class="form-group">
          <%= text_field_tag :search_title, params[:search], placeholder: t('title'), class: "form-control" %>
        </div>

        <%= submit_tag t('search'), :name => nil, :class => "btn btn-primary"  %>
      </div>
    </div>
<% end %>