<table border="0">
  <tr>
    <td width="75"><%= image_tag("roomXL.png", :alt => "edit room") %></td>
    <td><h4><strong><%= t('edit_room') %></strong></h4></td>
  </tr>
</table><br />


<%= render 'form' %>

