<table border="0">
  <tr>
    <td width="75"><%= image_tag("categoryEditXL.png", :alt => "edit category") %></td>
    <td><h4><strong><%= t('edit_category') %></strong></h4></td>
  </tr>
</table><br />

<%= render 'form' %>