<table border="0">
  <tr>
    <td width="75"><%= image_tag("categoryAddXL.png", :alt => "add category") %></td>
    <td><h4><strong><%= t('add_category') %></strong></h4></td>
  </tr>
</table><br />

<%= render 'form' %>